.header {
    margin: 0 0 2.5em;
    padding: 1.5em 0 0;
    color: #333;
    text-align: center;
    border-bottom: 1px solid #eee;
}
.header h1 {
    font-size: 3em;
    font-weight: 300;
}
.header h2 {
    font-size: 2.2em;
    font-weight: 300;
    color: #ccc;
    padding: 0;
    margin-top: 0;
}

h3 {
    font-size: 1.9em;
    font-weight: 400;
    color: #333;
    margin-top: 1.5em;
}

.content-media {
    margin-top: 20px;
    margin-bottom: 30px;
}



/* Styling like on medium.com */

.content p, .content ul {
    font-family: medium-content-serif-font,Georgia,Cambria,"Times New Roman",Times,serif;
    letter-spacing: -.003rem;
    font-weight: 400;
    font-style: normal;
    font-size: 21px;
    color: rgba(0, 0, 0, 0.7);
    line-height: 1.6em;
}

.content img {
    display: block;
    margin: 0.8em auto;
}

img + em {
    display: block;
    margin-top: 0;
    text-align: center;
    font-size: 0.7em;
    line-height: 14px;
    font-style: italic;
    font-family: georgia,serif;
}