<div id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <li class="sidebar-brand">
            <a href="/">
                Remember To Test!
            </a>
        </li>
        <li>
            <a href="/links">Links</a>
        </li>
        <li>
            <a href="/forms">Forms</a>
        </li>
        <li>
            <a href="/redirection">Redirection</a>
        </li>
    </ul>
</div>
