<!doctype html>
<html lang="en">
{% include head.html %}
<body>
<div id="wrapper">
    {% include sidebar.html %}

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-10 offset-md-1">
                    <div class="header">
                        <h1>{{ page.title }}</h1>
                        <h2>{{ page.subtitle}}</h2>
                    </div>

                    <div class="content">
                        {{content}}
                    </div>
                </div>
            </div>
            <!--<a href="#menu-toggle" class="btn btn-secondary" id="menu-toggle">Toggle Menu</a>-->
        </div>
    </div>
    <!-- /#page-content-wrapper -->
</div>
</body>
{% include footer.html %}
</html>